[user]
	email = iglosiggio@gmail.com
	name = Ignacio Losiggio

[url "git://github.com/HuayraLinux/"]
	insteadOf = huayra:
[url "git@github.com:HuayraLinux/"]
	pushInsteadOf = huayra:
[url "git://github.com/iglosiggio/"]
	insteadOf = yo:
[url "git@github.com:iglosiggio/"]
	pushInsteadOf = yo:
[url "git://github.com/"]
	insteadOf = gh:
[url "git@github.com:"]
	pushInsteadOf = gh:

[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = gpg2
[pull]
	rebase = true
